

<!--Panel-->
<div class="card border-primary mb-15" style="max-width: 14cm">
        <div class="card border-deep-orange" style="max-height: 9cm">
    <div class="card panel-black">
    <h4 class="card-header primary-color white-text">STAR NEW SIMULATION</h4>
    </div>
    <div class="card border-deep-orange">
        <div>
        
    </div>
<p>
Building-configuration 
</p>

Capacity &#x2003;<label><input type= "number" name="num" min="0" max="30"></label>
<p>
 </p>
Floors &#x2003;&#x2003; <label><input type= "number" name="num" min="0" max="30"></label>
<p>
 </p>
Elevators&#x2003; <label><input type= "number" name="num" min="0" max="30"></label>
<p>
</p>


 <a class="col-lg-5 col-centrado"></a>
<a class="btn btn-deep-orange">ok</a>


