

<!--Panel-->
<div class="card border-primary mb-15" style="max-width: 14cm">
        <div class="card border-deep-orange" style="max-height: 9cm">
    <div class="card panel-black">
    <h4 class="card-header primary-color white-text">INICIAR NUEVA SIMULACIÓN</h4>
    </div>
    <div class="card border-deep-orange">
        <div>
        
    </div>
<p>
    Configuración de construcción
</p>

Capacidad &#x2003;<label><input type= "number" name="num" min="0" max="30"></label>
<p>
 </p>
Pisos &#x2003;&#x2003; &#x2003; <label><input type= "number" name="num" min="0" max="30"></label>
<p>
 </p>
Ascensores&#x2003; <label><input type= "number" name="num" min="0" max="30"></label>
<p>
</p>



