<form>
    <!--cambiar por el nombre que corresponde-->
    <app-building-configuration></app-building-configuration>
    <!--cambiar por el nombre que corresponde-->
    <app-traffic-paterns></app-traffic-paterns>

    <div class=" card borde-primary mb-15" style="max-width: 17cm">
        <div class=" card borde-deep-orange" style="max-width: 17cm">
            <div class="panel panel-black">
                <h4 class="card-header primary-color white-text">Elevadores</h4>
            </div>
            <div class="panel panel-deep-orange">
            </div>
            <!--falta repetir de acuerdo al numero de veces mencionado en las anteriores config-->
            <app-elevator></app-elevator>
        </div>
    </div>
  <input class="btn btn-orange" type="submit" value="Empezar">
</form>
