
<div class="behaviour-group">
  <input name="behaviour101" type="radio" id="radio101" ng-model="behaviour" value="taxi">
    <label for="radio101">Taxi</label><br>
  <input name="behaviour101" type="radio" id="radio102" ng-model="behaviour" value="taxi">
    <label for="radio102">Bus</label>
</div><br>
<div>
    <input name="behaviour102" type="radio" id="radio103" value="secciones"
         [(ngModel)]="secciones">
    <label for="radio103">Secciones</label><br>
    <div *ngIf="secciones">
      <label>First floor: <input type="text" ng-name="sectStart"></label>
      <label>Last floor: <input type="text" ng-name="sectEnd"></label>
    </div>

    <input name="behaviour102" type="radio" id="radio104"value="pairs-impairs"
          [(ngModel)]="pairImpair">
    <label for="radio104">Pairs/Impairs</label>
    <!--input type="radio" ng-model="behaviour2" value=" pairs-impairs"
         ng-init="pairImp"> Pairs/Impairs<br-->
    <div *ngIf="pairImpair" ng-init="secciones = false">
      <input name="pairs101" type="radio" id="radio105" ng-model="pair"
             value="pair">
        <label for="radio105">Pairs</label>
      <!--input type="radio" ng-model="pairImp" value="pair">Pairs<br-->
      <input name="pairs101" type="radio" id="radio106" ng-model="pair"
             value="impair">
        <label for="radio106">Impairs</label>
      <!--input type="radio" ng-model="pairImp" value="impair">Impairs<br-->
    </div>

</div>
