<!DOCTYPE html>
<!--panel-->


<div class=" card borde-primary mb-15" style="max-width: 17cm">
    <div class=" card borde-deep-orange" style="max-width: 17cm">
        <div class="panel panel-black">
            <h4 class="card-header primary-color white-text"> traffic-paterns</h4>
        </div>
        <div class="panel panel-deep-orange">
        </div>
    </div>





    <label><input type="checkbox" id="cbox1" value="first_checkbox"><label for="cbox1">uppeak</label>
    
     &#x2003;&#x2003; start
    <label ><input type="time" name="hora" CHECKED></label>
    &#x2003;&#x2002;end 
    <label><input type="time" name="hora"> </label>
     &#x2003;amount of people excepted
    <label>   
    <input type="number" name="num" min="0" max="50"></label>
    <br>



    <input type="checkbox" id="cbox2" value="second_checkbox"><label for="cbox2">downpeak</label>
    &#x2003;start
    <label><input type="time" name="hora"></label>
    &#x2003;end 
    <label><input type="time" name="hora"></label>
    &emsp;amount of people excepted  
    <label>
    <input type="number" name="num" min="0" max="50"></label>
    <br>


    <label><input type="checkbox" id="cbox3" value="third_checkbox"><label for="cbox3">lunchpeak</label>
    &#x2003;start
    <label><input type="time" name="hora"></label>
    &#x2003;end  
    <label> <input type="time" name="hora"> </label>
    &#x2003;amount of people excepted  
    <label>
     <input type="number" name="num" min="0" max="50"></label>
    <br>


    <input type="checkbox" id="cbox4" value="fourth_checkbox"><label for="cbox4">interfloor</label>
    &#x2003;start
    <label><input type="time" name="hora"> </label> 
    &#x2003;&#x2002;end 
    <label> <input type="time" name="hora">  </label>
    &#x2003;amount of people excepted 
    <label>
     <input type="number" name="num" min="0" max="50"> </label>
    <br>

    




    
     <a class="col-lg-6 col-centrada"></a>
    <a class="btn btn-deep-orange">ok</a>
