
<div class=" card-block mb-15">
    <div class="card-header #cfd8dc blue-grey lighten-4">Patrones de tráfico</div>

    <label><input type="checkbox" id="cbox1" value="first_checkbox">&#x2003;<label for="cbox1">uppeak</label> &#x2003;&#x2003;&#x2003;inicio
    <label><input type="time" name="hora"></label> &#x2003;&#x2002;fin
    <label><input type="time" name="hora"> </label> &#x2003;cantidad de personas aceptadas
    <label>   
    <input type="number" name="num" min="0" max="50"></label>
    <br>



    <input type="checkbox" id="cbox2" value="second_checkbox">&#x2003;<label for="cbox2">downpeak</label> &#x2003;&#x2004;inicio
    <label><input type="time" name="hora"></label> &#x2003;&#x2002;fin
    <label><input type="time" name="hora"></label> &emsp;cantidad de personas aceptadas
    <label>
    <input type="number" name="num" min="0" max="50"></label>
    <br>


    <label><input type="checkbox" id="cbox3" value="third_checkbox">&#x2003;<label for="cbox3">lunchpeak</label> &#x2003;&#x2004;inicio
    <label><input type="time" name="hora"></label> &#x2003;&#x2002;fin
    <label> <input type="time" name="hora"> </label> &#x2003;cantidad de personas aceptadas
    <label>
     <input type="number" name="num" min="0" max="50"></label>
    <br>


    <input type="checkbox" id="cbox4" value="fourth_checkbox">&#x2003;<label for="cbox4">interfloor</label> &#x2003;&#x2003;inicio
    <label><input type="time" name="hora"> </label> &#x2003;&#x2002;fin
    <label> <input type="time" name="hora">  </label> &#x2003;cantidad de personas aceptadas
    <label>
     <input type="number" name="num" min="0" max="50"> </label>
    <br>








   