
<div class=" card-block mb-15">
    <div class="card-header #cfd8dc blue-grey lighten-4">Patrones de tráfico</div>

    <label><input type="checkbox" id="uppeak" [(ngModel)]="uppeak" value="first_checkbox">
        &#x2003;<label for="uppeak">uppeak</label> 
    <label><input type="time"  [(ngModel)]="uppeak_inicio" >Inicio</label> 
    <label><input type="time" [(ngModel)]="uppeak_fin">Fin</label> 
    <label><input type="number" min="0" max="50" [(ngModel)]="uppeak_cant">
        Cantidad de personas aceptadas</label>
    <br>



    <input type="checkbox" id="downpeak" [(ngModel)]="downpeak" value="second_checkbox">
        &#x2003;<label for="downpeak">downpeak</label>
    <label><input type="time" [(ngModel)]="downpeak_inicio" >Inicio</label> 
    <label><input type="time" [(ngModel)]="downpeak_fin">Fin</label> 
    <label><input type="number" min="0" max="50" [(ngModel)]="downpeak_cant">
        Cantidad de personas aceptadas</label>
    <br>


    <label><input type="checkbox" id="lunchpeak" [(ngModel)]="lunchpeak" value="third_checkbox">
        &#x2003;<label for="lunchpeak">lunchpeak</label>
    <label><input type="time" [(ngModel)]="lunchpeak_inicio" >Inicio</label> 
    <label><input type="time" [(ngModel)]="lunchpeak_fin">Fin</label> 
    <label><input type="number" min="0" max="50" [(ngModel)]="lunchpeak_cant">
        Cantidad de personas aceptadas</label>
    <br>


    <input type="checkbox" id="interfloor" [(ngModel)]="interfloor" value="fourth_checkbox">
        &#x2003;<label for="interfloor">interfloor</label>
    <label><input type="time" [(ngModel)]="interfloor_inicio" >Inicio</label> 
    <label><input type="time" [(ngModel)]="interfloor_fin">Fin</label> 
    <label><input type="number"  min="0" max="50" [(ngModel)]="interfloor_cant">
        Cantidad de personas aceptadas</label>
    <br>

